attrs==21.1.0
flake8==3.9.2
flake8-html==0.4.1
importlib-metadata==4.0.1
iniconfig==1.1.1
Jinja2==3.0.0
MarkupSafe==2.0.0
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
tinydb==4.4.0
toml==0.10.2
zipp==3.4.1
